<span id="home-anchor" class="anchor">&nbsp;</span>
<div class="container-fluid" id="home">
  {% include invitation.html %}
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    
    
      <div class="item">
        <img src="http://assets.91wedding.com/6/photos_455_original_520.jpg?1384595659" class="cover-image">
      </div>
      <div class="item">
        <img src="http://assets.91wedding.com/6/photos_437_original_muwu_jy.jpg?1384595128" class="cover-image">
      </div>
      <div class="item active">
        <img src="http://assets.91wedding.com/6/photos_432_original_xiong_jy.jpg?1384593964" class="cover-image">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
