<span id="home-anchor" class="anchor">&nbsp;</span>
<div class="container-fluid" id="home">
  {% include invitation.html %}
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
    
      <div class="item">
        <img src="http://assets.91wedding.com/6/photos_391_original_IMG_20131003_173117.jpg?1382086782" class="cover-image">
      </div>
      <div class="item">
        <img src="http://assets.91wedding.com/6/photos_358_original_IMG_20131003_172802.jpg?1382086339" class="cover-image">
      </div>
      <div class="item">
        <img src="http://assets.91wedding.com/6/photos_362_original_IMG_20131003_172716.jpg" class="cover-image">
      </div>
      <div class="item active">
        <img src="http://assets.91wedding.com/6/photos_372_original_IMG_20131003_172939.jpg" class="cover-image">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
