<span id="wedding-anchor" class="anchor">&nbsp;</span>
<div class="container section" id="wedding">
  <div class="row-fluid">
    <div class="span4 offset1">
      <h2>婚礼</h2>
      <p>
        <i class="icon-time"></i>
        2013年11月09日(星期六) 中午11:30
      </p>
      <p>
        <i class="icon-map-marker"></i>
        武夷山市
      </p>
      <p>
        <i class="icon-envelope"></i>
        106667208@qq.com
      </p>
      <p>
        <i class="icon-signal"></i>
        18960688097
      </p>
      <br/>
      <h4>欢迎来参加我们的婚礼！</h4>
      {% include rsvp.html %}
    </div>
    <div class="span6">
      <img src="http://assets.91wedding.com/6/photos_424_original_hua_JY.jpg?1384592188" />
    </div>
  </div>
  </div>
</div>
